
/* ********
    BASIC STYLE */

html {
  --clr-brand: rgb(200, 58, 45);
  --clr-black: rgb(2,2,2);
  --clr-white: rgb(255,255,255);
  --clr-gray: rgb(199,199,199);
  --clr-gray-light: rgb(241,241,241);
  --clr-gray-dark: rgb(46,46,58);

  --font-family-title: 'Montserrat Alternates', sans-serif;
  --font-family-text: 'Barlow Condensed', sans-serif;

}

:root {
  box-sizing: border-box;
  font-size: 18px;
  line-height: 1.5;
}

*,
::before,
::after {
  box-sizing: inherit;
}

body {
  min-height: 100vh;
  padding: 0;
  margin: 0;
  font-family: var(--font-family-text);
  font-size: 1.1rem;
  font-weight: 400;
  color: var(--clr-gray-dark);
  background: linear-gradient(to bottom, rgb(199,199,199) 60%, rgb(206,66,53) 60%);
}

img {
  display: block;
  max-width: 100%;
}

a {
  display: inline-block;
  color: inherit;
  text-decoration: none;
}

h1, h2, h3, h4,
ul, li,
p {
  padding: 0;
  margin: 0;
}

ul {
  list-style: none;
}

.cv-doc {
  position: relative;
  max-width: 1400px;
  width: 90%;
  margin: 2rem auto;
  background-color: var(--clr-white);
  box-shadow: 20px 20px 25px rgba(2,2,2,0.3);
}

.container {
  max-width: 1300px;
  width: 90%;
  margin: 0 auto;
}

.grid {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.title {
  font-weight: 600;
  font-family: var(--font-family-text);
  text-transform: uppercase;
  color: var(--clr-brand);
}

.title-h2 {
  font-size: 2rem;
}

/* ************
    #HEADER */

.nav__list {
  padding-top: 2em;
  margin-bottom: 2em;
}

.nav__list * a {
  margin-bottom: 0.3em;
  font-size: 1.5rem;
  font-weight: 600;
  letter-spacing: 0.1em;
  color: var(--clr-brand);
}

/* *********
  #MAIN */

.main {
  padding-top: 30vh;
  min-height: 100vh;
  margin-left: 5%;
  margin-bottom: 2rem;
  background-color: var(--clr-gray);
}
 

.main__img {
  position: absolute;
  top: 0;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  right: 10%;
  width: 40%;
  max-width: 600px;
  height: 60vh;
  background-color: var(--clr-brand);
}

.main__photo {
  margin-bottom: -35%;
  width: 80%;
  border-radius: 50%;
}

.main__title {
  margin-bottom: 2em;
}

.main__h1 {
  margin-bottom: 1.1rem;
  font-size: 4rem;
  font-weight: 600;
  font-family: var(--font-family-title);
  line-height: 1.1;
  color: var(--clr-black);
}

.main__h1 > span {
  display: block;
}

.main__contacts * img {
  display: inline-block;
  vertical-align: middle;
  width: 30px;
  margin-right: 0.5em;
}


.main__contacts {
  margin-bottom: 1.5em;
  font-size: 1.5rem;
  font-weight: 600;
}

.contacts__icons {
  display: flex;
  justify-content: flex-end;
}

.contacts__icons * img {
  margin-right: 0;
  margin-left: 0.5em;
}